body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sr-only {
  display: none !important;
}

.small-now-playing {
  background-color: white;
  z-index: 500;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
}

.small-now-playing .song-title {
  width: Calc(85% - 60px);
  padding: 10px;
}
.small-now-playing .play-pause-button {
  display: flex;
  float: left;
  width: 60px;
}

.volume-control {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 60px;
  right: 20px;
  width: 6vh;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 150px;
  border: 1px solid blueviolet;
  background: white;
  border-radius: 20px 20px 20px 20px;
}

.play-control {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  padding-bottom: 50px;
  height: 80px;
}
.stay-control {
  position: fixed;
  bottom: 3px;
  left: 0px;
  width: 100%;
  padding-bottom: 50px;
  height: 0px;
}
.song-title {
  padding: 0px 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.play-control .song-title {
  padding: 0px 12px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.material-icons {
  width: 30px;
}
.side-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.now-playing-container {
  display: flex;
}
.now-playing-container .song-name {
  padding: 5px;
  padding-left: 10px;
  flex: 1;
  color: #333333;
  line-height: 1.7rem;
}
.now-playing-container button {
  border: none;
  background-color: transparent;
}
.marquee {
  width: 100%;
  line-height: 0px;
  white-space: nowrap;
  overflow: hidden;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
